@page "/"
@inject NavigationManager _navigationManager

<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>

<p>What would you like to do?</p>

<button class="btn btn-dark" @onclick="GoToAddBooking">Add a booking</button>

@code{
    protected void GoToAddBooking()
    {
        _navigationManager.NavigateTo("/AddBooking");
    }
}