@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <CustomErrorBoundary @ref="errorBoundary" Context="Exception">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert bg-danger text-white alert-dismissible">
                        @Exception.Message
                    </div>
                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="nav-link" href="/Bookings">Go to Bookings</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="/">Go to Home</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </ErrorContent>
            </CustomErrorBoundary>
        </article>
    </main>
</div>

@code {
    ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}